<header>
    <div class="container">    
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="/home">
                <img src="assets/Imagenes/flor.jpeg" width="230" height="70" class="d-inline-block align-top" alt="">
                
            </a>
            <form class="form-inline">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background:#f8f9fa;color:black; border:  solid 4px #fbd3df; position:relative left 5px">ORDENA AHORA</button>
                <a class="navbar-brand" href="http://127.0.0.1:3004/Vendedores/ListarXLS">
                    <img src="assets/Imagenes/cart.png" id="cart" width="30" height="30" class="d-inline-block align-top" alt="" >                
                </a>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">LOGIN</button>
            </form>            
        </nav>
    
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">QUIENES SOMOS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/trabajaconnosotros">TRABAJA CON NOSOTROS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">CONTACTENOS</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="#">PLANTAS</a>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        OCASIONES
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                        <a class="dropdown-item" href="#">Arrepentid@</a>
                        <a class="dropdown-item" href="#">Tragad@</a>
                        <a class="dropdown-item" href="#">Agradecid@</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Celebrando</a>
                        <a class="dropdown-item" href="#">De compras</a>
                        <a class="dropdown-item" href="#">En recuperación</a>
                        <a class="dropdown-item" href="#">De aniversario</a>
                        <a class="dropdown-item" href="#">De luto</a>
                        <a class="dropdown-item" href="#">De cumple</a>
                    </div>
                </li>
                </ul>
            </div>
        </nav>
    </div>    
</header>
    
